In [65]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

data = pd.read_csv("Airlines.csv")
df = data.sample(n=100)
df.drop('id',axis=1,inplace=True)

X = df.iloc[:,:7]
y = df.iloc[:,7]
X

       Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length
64621       AA    1231         PHL       ORD          6   990     150
210592      WN    1824         ORF       MDW          1   590     140
265963      FL     892         LAX       MKE          4   720     240
301979      B6     672         LAX       JFK          6   709     311
462659      CO     173         LAX       HNL          1   985     345
...        ...     ...         ...       ...        ...   ...     ...
99055       WN    3074         MCO       RSW          1  1050      50
302208      WN    2273         TPA       PIT          6   720     140
328502      US    1774         CLT       DTW          7  1339      98
53157       OO    6524         PDX       RDM          5  1280      38
530436      9E    4282         GPT       MEM          5   685      84

[100 rows x 7 columns]

In [66]:
le = LabelEncoder()
X['AirportFrom'] = le.fit_transform(X['AirportFrom'])
X['AirportTo'] = le.fit_transform(X['AirportTo'])
X

       Airline  Flight  AirportFrom  AirportTo  DayOfWeek  Time  Length
64621       AA    1231           43         33          6   990     150
210592      WN    1824           40         30          1   590     140
265963      FL     892           29         32          4   720     240
301979      B6     672           29         24          6   709     311
462659      CO     173           29         18          1   985     345
...        ...     ...          ...        ...        ...   ...     ...
99055       WN    3074           32         42          1  1050      50
302208      WN    2273           58         36          6   720     140
328502      US    1774           12         11          7  1339      98
53157       OO    6524           42         38          5  1280      38
530436      9E    4282           21         31          5   685      84

[100 rows x 7 columns]

In [67]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = columnTransformer.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)
X_test

array([[0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 6.465e+03,
        5.600e+01, 2.600e+01, 7.000e+00, 3.700e+02, 1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 7.890e+02,
        1.600e+01, 2.500e+01, 4.000e+00, 1.285e+03, 1.130e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 8.920e+02,
        2.900e+01, 3.200e+01, 4.000e+00, 7.200e+02, 2.400e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.834e+03,
        3.800e+01, 3.500e+01, 6.000e+00, 9.350e+02, 1.500e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 8.120e+02,
        7.000e+00, 4.000e+00, 7.000e+00, 5.100e+02, 9.500e+01],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.920e+03,
        5.100e+01, 3.400e+01, 2.000e+00, 4.800e+02, 1.550e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 3.098e+03,
        8.000e+00, 1.300e+01, 4.000e+00, 5.000e+02, 7.700e+01],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.229e+03,
        6.000e+00, 3.500e+01, 7.000e+00, 1.040e+03, 2.400e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 6.624e+03,
        1.600e+01, 4.000e+01, 4.000e+00, 1.309e+03, 1.390e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 3.074e+03,
        3.200e+01, 4.200e+01, 1.000e+00, 1.050e+03, 5.000e+01]])

In [68]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
X_test

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        ,  2.        ,  0.        , -0.33333333, -0.65465367,
        -0.33333333,  0.        ,  1.81006837,  1.738143  , -0.22800001,
         1.19404463, -1.3586808 , -0.255451  ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  3.        , -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333, -0.65465367,
        -0.33333333,  0.        , -0.89980636, -0.57168158, -0.31569232,
        -0.29851116,  1.40458422, -0.42351087],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333,  2.        ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333, -0.65465367,
        -0.33333333,  0.        , -0.85063139,  0.17901141,  0.29815386,
        -0.29851116, -0.30169418,  1.71084947],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333,  1.52752523,
        -0.33333333,  0.        , -0.40089531,  0.69872194,  0.5612308 ,
         0.69652603,  0.3475976 ,  0.19831065],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333,  2.        ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333, -0.65465367,
        -0.33333333,  0.        , -0.88882554, -1.09139212, -2.15723087,
         1.19404463, -0.93588615, -0.72601863],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        ,  3.        , -0.65465367,
        -0.33333333,  0.        , -0.35983661,  1.44941493,  0.47353848,
        -1.29354835, -1.026485  ,  0.28234058],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333, -0.65465367,
         3.        ,  0.        ,  0.20257221, -1.0336465 , -1.36800006,
        -0.29851116, -0.96608577, -1.0285264 ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333,  1.52752523,
        -0.33333333,  0.        , -0.68973855, -1.14913773,  0.5612308 ,
         1.19404463,  0.66469359,  1.71084947],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        ,  2.        ,  0.        , -0.33333333, -0.65465367,
        -0.33333333,  0.        ,  1.88597923, -0.57168158,  0.99969236,
        -0.29851116,  1.4770633 ,  0.01344479],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.33333333, -0.5       ,  0.        ,
         0.        , -0.5       ,  0.        , -0.33333333,  1.52752523,
        -0.33333333,  0.        ,  0.19111396,  0.35224825,  1.17507698,
        -1.79106694,  0.6948932 , -1.48228804]])

In [69]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [70]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [71]:
y_test

188901    0
276003    0
265963    1
63827     1
314151    0
105903    0
387333    1
324158    1
155598    0
99055     0
Name: Delay, dtype: int64

In [72]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test, y_pred)
ac

0.6

In [73]:
cm

array([[6, 0],
       [4, 0]], dtype=int64)